<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="scene">
        <!-- 1 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://i.pinimg.com/originals/7e/29/f6/7e29f6682ad46bb5a3106c9ed1ec4806.png"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label"
              >What is the best gift ever you ever received?</span
            >
          </div>
        </div>
        <!-- 2 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label">What is your favourite TV show?</span>
          </div>
        </div>
        <!-- 3 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://99px.ru/sstorage/56/2013/12/image_563012130153328414049.jpg"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label">Your favourite food?</span>
          </div>
        </div>
        <!-- 4 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label">Latest movie you saw?</span>
          </div>
        </div>
        <!-- 5 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label">Have you ever met anyone famous?</span>
          </div>
        </div>
      </div>

      <div class="scene">
        <!-- 6 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" />
          </div>
          <div class="card__face card__face--back">
            <span class="label">Dream destination</span>
          </div>
        </div>
        <!-- 7 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label"
              >Be honest, how often do you work from bed?</span
            >
          </div>
        </div>
        <!-- 8 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://99px.ru/sstorage/53/2022/05/mid_342104_204085.jpg"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label"
              >What’s the first thing you remember buying with your own
              money?</span
            >
          </div>
        </div>
        <!-- 9 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img
              src="https://99px.ru/sstorage/53/2022/04/mid_341498_181048.jpg"
            />
          </div>
          <div class="card__face card__face--back">
            <span class="label">What is your useless superpower?</span>
          </div>
        </div>
        <!-- 10 -->
        <div class="card">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" />
          </div>
          <div class="card__face card__face--back">
            <span class="label"
              >What song or album could you listen to on repeat?</span
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
