<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Let's get to know each other</h1>
      <ul>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >What is the best gift ever you ever received?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label">What is your favourite TV show?</span>
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label">Your favourite food?</span>
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label">Latest movie you saw?</span>
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >If you could have dinner with one person, dead or alive, who
              would it be and why?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label">What is your Dream destination?</span>
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label">Have you ever met anyone famous?</span>
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label">What is your useless superpower?</span>
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >What’s the first thing you remember buying with your own
              money?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >Be honest, how often do you work from bed?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >If you could learn one new personal skill, what would it
              be?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >You have to sing karaoke, what song do you pick?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >What is your favorite item you’ve bought this year?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >What’s the best piece of advice you’ve ever been given?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >What’s the weirdest food you’ve ever eaten?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >If you could hang out with any cartoon character, who would you
              choose and why?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >What are you most excited about this year?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >What song or album could you listen to on repeat?</span
            >
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label">What is the best dish you can cook?</span>
          </div>
        </li>
        <li class="col-md-3">
          <div class="front"></div>
          <div class="back">
            <span class="label"
              >Do you think you could live without your smartphone for 24 hours?
              If yes what would you do in those 24 hrs?</span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
